/* Reset some default styles */
body, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

canvas {
    background-color: #000;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Ball styles */
.ball {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-line {
    width: 100%;
    height: 1px; /* Adjust the height as needed */
    background-color:white; /* Set the line color */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
